*{
    margin: 0;
    padding: 0;
}
.movies{
/* border: 1px solid black; */
width: 40%;
margin: auto;
list-style: none;
/* list-style-position: inside; */
}
.container{
    /* border: 1px solid red; */
}
.item{
    border-bottom: 1px solid red;
    padding: 5px 0px;
}
.movies .item:last-child
{
    border: 0;
    padding-bottom: 0;
}